extends ../partials/layout

block content
  .row.justify-content-center
    .col-md-8
      .card
        .card-header
          h3.mb-0= t('tasks.editTask')
        .card-body
          form(method='POST', action=`/tasks/${task.id}`)
            input(type='hidden', name='_method', value='PATCH')
            .mb-3
              label.form-label(for='data_name')= t('common.name')
              input#data_name.form-control(type='text', name='data[name]', value=task.name, required, minlength='1')
            .mb-3
              label.form-label(for='data_description')= t('common.description')
              textarea#data_description.form-control(name='data[description]', rows='4')= task.description || ''
            .mb-3
              label.form-label(for='data_statusId')= t('common.status')
              select#data_statusId.form-select(name='data[statusId]', required)
                each status in statuses
                  option(value=status.id, selected=(status.id === task.statusId))= status.name
            .mb-3
              label.form-label(for='data_executorId')= t('common.executor')
              select#data_executorId.form-select(name='data[executorId]')
                option(value='', selected=(!task.executorId))= t('common.noExecutor')
                each user in users
                  option(value=user.id, selected=(task.executorId === user.id))= user.firstName + ' ' + user.lastName
            .mb-3
              label.form-label(for='data_labelIds')= t('common.labels')
              select#data_labelIds.form-select(name='data[labelIds]', multiple)
                each label in labels
                  - const isSelected = task.labels && task.labels.some(l => l.id === label.id)
                  option(value=label.id, selected=isSelected)= label.name
            button.btn.btn-primary(type='submit')= t('tasks.update')
            a.btn.btn-secondary.ms-2(href='/tasks')= t('tasks.cancel')
