extends ../partials/layout

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1= t('tasks.tasks')
    if currentUser
      a.btn.btn-primary(href='/tasks/new')= t('tasks.newTask')
  
  .card.mb-4
    .card-header
      h5.mb-0= t('tasks.filter')
    .card-body
      form(method='GET', action='/tasks')
        .row.g-3
          .col-md-3
            label.form-label(for='status')= t('common.status')
            select#status.form-select(name='status')
              option(value='')= t('tasks.allStatuses')
              each statusItem in statuses
                option(value=statusItem.id, selected=(filters.status == statusItem.id))= statusItem.name
          .col-md-3
            label.form-label(for='executor')= t('common.executor')
            select#executor.form-select(name='executor')
              option(value='')= t('tasks.allExecutors')
              each user in users
                option(value=user.id, selected=(filters.executor == user.id))= user.firstName + ' ' + user.lastName
          .col-md-3
            label.form-label(for='label')= t('common.labels')
            select#label.form-select(name='label')
              option(value='')= t('tasks.allLabels')
              each labelItem in labels
                option(value=labelItem.id, selected=(filters.label == labelItem.id))= labelItem.name
          .col-md-3
            label.form-label.d-block &nbsp;
            if currentUser
              .form-check.mt-2
                input#isCreatorUser.form-check-input(type='checkbox', name='isCreatorUser', value='1', checked=(filters.isCreatorUser === '1'))
                label.form-check-label(for='isCreatorUser')= t('tasks.onlyMyTasks')
            else
              input(type='hidden', name='isCreatorUser', value='')
        .row.mt-3
          .col-12
            button.btn.btn-primary.me-2(type='submit')= t('tasks.applyFilter')
            a.btn.btn-secondary(href='/tasks')= t('tasks.resetFilter')
  
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th= t('common.id')
          th= t('common.name')
          th= t('common.status')
          th= t('common.creator')
          th= t('common.executor')
          th= t('common.labels')
          if currentUser
            th= t('common.actions')
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=`/tasks/${task.id}`)= task.name
            td= task.status ? task.status.name : t('common.na')
            td= task.creator ? task.creator.firstName + ' ' + task.creator.lastName : t('common.na')
            td= task.executor ? task.executor.firstName + ' ' + task.executor.lastName : t('common.na')
            td
              if task.labels && task.labels.length > 0
                each label in task.labels
                  span.badge.bg-secondary.me-1= label.name
              else
                span.text-muted -
            if currentUser
              td
                a.btn.btn-sm.btn-outline-primary.me-2(href=`/tasks/${task.id}/edit`)= t('common.edit')
                if task.creatorId === currentUser.id
                  form(method='POST', action=`/tasks/${task.id}`, style='display: inline;')
                    input(type='hidden', name='_method', value='DELETE')
                    button.btn.btn-sm.btn-outline-danger(type='submit', onclick=`return confirm('${t('common.confirmDelete')}')`)= t('common.delete')
        if tasks.length === 0
          tr
            td(colspan=currentUser ? 7 : 6).text-center.text-muted= t('tasks.noTasks')
