extends ../partials/layout

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1= t('labels.labels')
    if currentUser
      a.btn.btn-primary(href='/labels/new')= t('labels.newLabel')
  
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th= t('common.id')
          th= t('common.name')
          if currentUser
            th= t('common.actions')
      tbody
        each label in labels
          tr
            td= label.id
            td= label.name
            if currentUser
              td
                a.btn.btn-sm.btn-outline-primary.me-2(href=`/labels/${label.id}/edit`)= t('common.edit')
                form(method='POST', action=`/labels/${label.id}`, style='display: inline;')
                  input(type='hidden', name='_method', value='DELETE')
                  button.btn.btn-sm.btn-outline-danger(type='submit', onclick=`return confirm('${t('common.confirmDelete')}')`)= t('common.delete')
        if labels.length === 0
          tr
            td(colspan=currentUser ? 3 : 2).text-center.text-muted= t('labels.noLabels')
