extends ../partials/layout

block content
  .row.justify-content-center
    .col-md-6
      .card
        .card-header
          h3.mb-0= t('users.editUser')
        .card-body
          form(method='POST', action=`/users/${user.id}`)
            input(type='hidden', name='_method', value='PATCH')
            .mb-3
              label.form-label(for='data_firstName')= t('users.firstName')
              input#data_firstName.form-control(type='text', name='data[firstName]', value=user.firstName, required, minlength='1')
            .mb-3
              label.form-label(for='data_lastName')= t('users.lastName')
              input#data_lastName.form-control(type='text', name='data[lastName]', value=user.lastName, required, minlength='1')
            .mb-3
              label.form-label(for='data_email')= t('users.email')
              input#data_email.form-control(type='email', name='data[email]', value=user.email, required)
            .mb-3
              label.form-label(for='data_password')= t('users.passwordPlaceholder')
              input#data_password.form-control(type='password', name='data[password]', minlength='3')
            .d-flex.justify-content-between
              button.btn.btn-primary(type='submit')= t('users.update')
              form(method='POST', action=`/users/${user.id}`, style='display: inline;')
                input(type='hidden', name='_method', value='DELETE')
                button.btn.btn-danger(type='submit', onclick=`return confirm('${t('common.confirmDeleteAccount')}')`)= t('common.deleteAccount')
